@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.nav--logo{
  padding: 20px 30px;
  width: 82px;
  height: 25.5px;
}

.nav {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}